params {
  // Input Options
  samples_csv              = "${baseDir}/samplesheet/samples.csv"  // this is a list of sample_ids 
  cellrangers_outs_dir     = "${baseDir}/data/"
  outdir                   = "${baseDir}/results" // created by nextflow
  bed_tools_software_path  = "/mnt/data0/projects/biohub/software/bedtools2/bin/bedtools"
  // Generic Options
  publish_dir_mode = 'copy'
  // Defaults only, expecting to be overwritten
  
  max_memory = 350.GB
  max_cpus = 64
  max_time = 240.h
}
